<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mayday.Mayday">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_app_round"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_app_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name="com.mayday.Mayday.HelperActivity" />
        <activity android:name="com.mayday.Mayday.IntroActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.mayday.Mayday.Share_Activity"
            android:theme="@android:style/Theme.Dialog">
            <intent-filter>
                <action android:name="android:intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="@string/kakaolink_host"
                    android:scheme="@string/kakao_scheme" />
            </intent-filter>
        </activity>
        <activity android:name=".ModifyActivity" />
        <activity android:name="com.mayday.Mayday.SelectActivity" />
        <activity android:name="com.mayday.Mayday.QuestFinishActivity" />
        <activity android:name="com.mayday.Mayday.WriteQuestActivity" />
        <activity android:name="com.mayday.Mayday.MainActivity" />

        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="@string/kakao_app_key" />
    </application>

</manifest>